body {
    font-family: sans-serif;
    color: #333333;
}

.signup__wrapper {
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    position: absolute;
    z-index: 3;
    justify-content: center;
}

.login__wrapper {
    width: 100%;
    height: 1000px;
    background-color: white;
    display: block;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.form {
    width: 250px;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-size: cover;
    border-radius: 3px;
    border: 1px solid #333333;
    border-left: transparent;
}

.form__fill {
    background-image: url("../images/form_background.jpg");
    width: 200px;
    height: 350px;
    border: 1px solid #333333;
    border-right: transparent;
    border-radius: 3px;
}

.form__title {
    color: black;
    margin: 0 0 20px 65px;
    font-weight: 900;
}

.form__subtitle {
    font-size: 12px;
    font-weight: 600;
}

.form__input {
    display: block;
    margin-bottom: 20px;
    width: 230px;
    border-radius: 3px;
    border: 1px solid #ababab;
}

.form__terms {
    display: flex;
    font-size: 10px;
    margin-bottom: 10px;
}

.form__terms p {
    margin-top: 3px;
}

.form__terms span {
    color: blue;
}

.form__buttons {
    margin-left: 40px;
}

.buttons__main {
    border: none;
    background-color: black;
    color: #fefefe;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}

.buttons__secondary {
    border: none;
    background-color: transparent;
}

.buttons__secondary span {
    font-weight: 600;
}

.users {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    z-index: 0;
    position: absolute;
}

.posts__to-top {
    position: fixed;
    bottom: 0px;
    right: 30px;
    height: 30px;
}

.users__user {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #333333;
    border-radius: 10px;
    margin: 20px;
    padding: 14.5px;
    background-color: #efefef;
}

.user__picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 95px;
}

.user__username {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.popup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
}

.profile {
    z-index: 1;
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: #efefefee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y: scroll;
}

.posts, .profile, .new-post {
    z-index: 1;
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: #efefefee;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y: scroll;
    top: 60px;
}

.posts__post {
    border-bottom: 1px solid #494949;
    margin-top: 20px;
}
.posts__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.new-post__body {
    width: 100%;
    height: 80%;
}

.display__none {
    display: none;
}

.posts__buttons button, .new-post__buttons  button {
    width: 100px;
    height: 50px;
}

.new-post__buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

button {    
    border: 1px solid #333333;
    border-radius: 5px;
}
